<IfModule mod_rewrite.c>
    RewriteEngine On

    # RewriteCond %{HTTP_HOST} ^localhost/proving/.*$ [NC]
    RewriteCond %{REQUEST_URI} ^/proving/(.*)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?action=$1
</IfModule>

ErrorDocument 404 /index.php