/* line 1, ../sass/dashboard.sass */
small, strong {
  color: white;
}

/* line 3, ../sass/dashboard.sass */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 5, ../sass/dashboard.sass */
section.mainContent {
  background: url("../images/bg-main.jpg");
}
