/* line 12, ../sass/dashboard.sass */
small, strong {
  color: white;
}

/* line 14, ../sass/dashboard.sass */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 16, ../sass/dashboard.sass */
section.mainContent {
  background: url("../images/bg-main.jpg");
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 22, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox {
  overflow: hidden;
  background: #24282c;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
/* line 28, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox .userPhoto {
  text-align: center;
}
/* line 30, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox .userPhoto .cropBox {
  width: 303px;
  height: 303px;
}
/* line 33, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox .userPhoto .cropBox img {
  background: white;
  width: 303px;
  height: auto;
  border-bottom: 10px solid #256aa9;
}
/* line 38, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox .userPhoto h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
}
/* line 47, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox .userPhoto h4 {
  color: #256aa9;
  font-size: 1.125em;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 54, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox ul {
  list-style: none;
  margin-bottom: 0;
}
/* line 57, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox ul li {
  border-top: 1px solid rgba(192, 192, 192, 0.1);
}
/* line 59, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox ul li a {
  display: block;
  padding: 15px 20px;
  border-left: 5px solid #24282c;
}
/* line 63, ../sass/dashboard.sass */
section.mainContent .sidebar .sidebarBox ul li a:hover {
  border-left: 5px solid #256aa9;
  background: #090a0b;
  background: -moz-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4, 5, 5, 0.3)), color-stop(15%, rgba(36, 40, 44, 0.2)), color-stop(85%, rgba(36, 40, 44, 0.2)), color-stop(100%, rgba(4, 5, 5, 0.3)));
  background: -webkit-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: -ms-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparentize($black / 2, 0.7)', endColorstr='transparentize($black / 2, 0.7)',GradientType=0 );
}
