@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*	Table of Content
 * ==================================================
 *	1. Site Styles
 *		1.1. Fonts, Color Palettes & mixin
 *		1.2. General Styles
 *		1.3. Navigations
 *		1.4. Forms
 *		1.5.
 *	2. Page Styles
 *		2.1. Home
 *		2.2.
 *	3. Media Queries
 * ================================================== */
/* 1. Site Styles
 * 		1.1. Fonts, Color Palettes & mixin
 * ================================================== */
/* 1. Site Styles
 * 		1.2. General Styles
 * ================================================== */
/* line 34, ../sass/main.sass */
body {
  background: url("../images/bg-pattern-black.png") #090a0b;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 40, ../sass/main.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 43, ../sass/main.sass */
p {
  color: white;
  font-weight: 300;
  font-size: 0.875em;
}

/* 1. Site Styles
 * 		1.2. Navigation
 * ================================================== */
/* 1. Site Styles
 * 		1.2. Forms
 * ================================================== */
/* 2. Page Styles
 * 		1.1. Home
 * ================================================== */
/* line 63, ../sass/main.sass */
section.homeTop {
  height: 450px;
  text-align: center;
  position: relative;
}
/* line 68, ../sass/main.sass */
section.homeTop .row {
  position: relative;
  top: 10%;
}
/* line 71, ../sass/main.sass */
section.homeTop .row .logo {
  margin-top: 50px;
}
/* line 74, ../sass/main.sass */
section.homeTop .row h1 {
  color: white;
}
/* line 76, ../sass/main.sass */
section.homeTop .row h1 span {
  color: #bd0000;
}
/* line 78, ../sass/main.sass */
section.homeTop .row h3 {
  color: #535c65;
}
/* line 80, ../sass/main.sass */
section.homeTop .row .actionBtn {
  margin-top: 20px;
  padding-top: 20px;
  height: 40px;
}
/* line 86, ../sass/main.sass */
section.homeTop .row .actionBtn a.btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0 10px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #090a0b;
}
/* line 95, ../sass/main.sass */
section.homeTop .row .actionBtn a.btnWhite:hover {
  background: #256aa9;
}
/* line 97, ../sass/main.sass */
section.homeMain {
  background-image: url("../images/slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background--webkit-background-size: cover;
  background--moz-background-size: cover;
  background-background-size: cover;
  min-height: 526px;
  min-width: 1300px;
}
/* line 110, ../sass/main.sass */
section.homeMain .upperDiamond {
  position: absolute;
  top: 0px;
}
/* line 114, ../sass/main.sass */
section.homeMain .homeMainRight h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #bd0000;
  border-top: 2px solid #bd0000;
  border-right: 2px solid #bd0000;
  border-bottom: 2px solid #bd0000;
}
/* line 126, ../sass/main.sass */
section.homeMain .homeMainRight h2 span {
  color: #bd0000;
}
/* line 128, ../sass/main.sass */
section.homeMain .homeMainRight h2.first-child {
  margin-top: 20px;
}
/* line 130, ../sass/main.sass */
section.homeMain .homeMainRight p {
  margin-left: 30px;
}
/* line 134, ../sass/main.sass */
section.homeMain .homeMainLeft h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #256aa9;
  border-top: 2px solid #256aa9;
  border-right: 2px solid #256aa9;
  border-bottom: 2px solid #256aa9;
}
/* line 146, ../sass/main.sass */
section.homeMain .homeMainLeft h2 span {
  color: #256aa9;
}
/* line 148, ../sass/main.sass */
section.homeMain .homeMainLeft h2.first-child {
  margin-top: 20px;
}
/* line 150, ../sass/main.sass */
section.homeMain .homeMainLeft p {
  margin-left: 30px;
}
/* line 155, ../sass/main.sass */
section.homeMain .homeMainCenter .circle {
  position: absolute;
  top: 180px;
  left: 0px;
  cursor: pointer;
}
/* line 160, ../sass/main.sass */
section.homeMain .homeMainCenter .diamond {
  position: absolute;
  bottom: 30px;
}
/* line 163, ../sass/main.sass */
section.homeSignup {
  background-image: url("../images/signup-slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background--webkit-background-size: cover;
  background--moz-background-size: cover;
  background-background-size: cover;
  min-height: 526px;
  min-width: 1000px;
}
/* line 175, ../sass/main.sass */
section.homeSignup .homeSignupLeft h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #bd0000;
  border-top: 2px solid #bd0000;
  border-right: 2px solid #bd0000;
  border-bottom: 2px solid #bd0000;
}
/* line 187, ../sass/main.sass */
section.homeSignup .homeSignupLeft h2 span {
  color: #bd0000;
}
/* line 189, ../sass/main.sass */
section.homeSignup .homeSignupLeft h2.first-child {
  margin-top: 20px;
}
/* line 191, ../sass/main.sass */
section.homeSignup .homeSignupLeft p {
  margin-left: 30px;
}
/* line 196, ../sass/main.sass */
section.homeSignup .homeSignupCenter .circle {
  position: absolute;
  top: 180px;
  left: 0px;
  cursor: pointer;
}
/* line 201, ../sass/main.sass */
section.homeSignup .homeSignupCenter .diamond {
  position: absolute;
  bottom: 30px;
}
/* line 205, ../sass/main.sass */
section.homeSignup .homeSignupRight h2 {
  color: white;
  font-size: 28px;
  padding: 10px 0px;
  display: inline-block;
}
/* line 211, ../sass/main.sass */
section.homeSignup .homeSignupRight .btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #090a0b;
}
/* line 220, ../sass/main.sass */
section.homeSignup .homeSignupRight .btnWhite:hover {
  background: #256aa9;
}
/* line 222, ../sass/main.sass */
section.homeSignup .homeSignupRight .actionBtn a {
  color: white;
  padding: 15px 0px;
  line-height: 40px;
}
/* line 226, ../sass/main.sass */
section.homeSignup .homeSignupRight .actionBtn a:hover {
  text-decoration: underline;
}
/* line 228, ../sass/main.sass */
section.homeSignin {
  background-image: url("../images/signin-slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background--webkit-background-size: cover;
  background--moz-background-size: cover;
  background-background-size: cover;
  min-height: 526px;
  min-width: 1000px;
}
/* line 240, ../sass/main.sass */
section.homeSignin .homeSigninLeft h2 {
  color: white;
  font-size: 28px;
  padding: 10px 0px;
  display: inline-block;
}
/* line 246, ../sass/main.sass */
section.homeSignin .homeSigninLeft .btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #090a0b;
}
/* line 255, ../sass/main.sass */
section.homeSignin .homeSigninLeft .btnWhite:hover {
  background: #256aa9;
}
/* line 257, ../sass/main.sass */
section.homeSignin .homeSigninLeft .actionBtn a {
  color: white;
  padding: 15px 0px;
  line-height: 40px;
}
/* line 261, ../sass/main.sass */
section.homeSignin .homeSigninLeft .actionBtn a:hover {
  text-decoration: underline;
}
/* line 265, ../sass/main.sass */
section.homeSignin .homeSigninCenter .circle {
  position: absolute;
  top: 180px;
  left: 0px;
  cursor: pointer;
}
/* line 270, ../sass/main.sass */
section.homeSignin .homeSigninCenter .diamond {
  position: absolute;
  bottom: 30px;
}
/* line 274, ../sass/main.sass */
section.homeSignin .homeSigninRight h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #256aa9;
  border-top: 2px solid #256aa9;
  border-right: 2px solid #256aa9;
  border-bottom: 2px solid #256aa9;
}
/* line 286, ../sass/main.sass */
section.homeSignin .homeSigninRight h2 span {
  color: #256aa9;
}
/* line 288, ../sass/main.sass */
section.homeSignin .homeSigninRight h2.first-child {
  margin-top: 20px;
}
/* line 290, ../sass/main.sass */
section.homeSignin .homeSigninRight p {
  margin-left: 30px;
}
/* line 294, ../sass/main.sass */
section.diamondLine .diamond {
  margin-top: -25px;
}
/* line 296, ../sass/main.sass */
section.homeWidget {
  background-color: silver;
  background-image: url("../images/bg-main.jpg");
  background-repeat: repeat;
  padding: 30px 0px;
}
/* line 302, ../sass/main.sass */
section.homeWidget .row {
  border-top: 1px solid #2d3037;
  border-bottom: 1px solid #2d3037;
}
/* line 306, ../sass/main.sass */
section.homeWidget .row .latestNews h4 {
  text-align: center;
}
/* line 308, ../sass/main.sass */
section.homeWidget .row h4 {
  color: white;
  margin-top: 10px;
}
/* line 311, ../sass/main.sass */
section.homeWidget .row small {
  color: white;
}
/* line 313, ../sass/main.sass */
section.homeAbout {
  background-color: black;
  min-height: 300px;
}
/* line 317, ../sass/main.sass */
section.homeAbout h2 {
  color: white;
}
/* line 319, ../sass/main.sass */
section.homeAbout h2 span {
  color: #bd0000;
}

/* line 322, ../sass/main.sass */
header.topNav {
  border-top: 10px solid red;
  padding-top: 10px;
}
/* line 325, ../sass/main.sass */
header.topNav[data-magellan-expedition] {
  background: url("../images/bg-pattern-black.png") #090a0b;
}
/* line 331, ../sass/main.sass */
header.topNav .diamond {
  position: relative;
  top: 30px;
}
