@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*	Table of Content
 * ==================================================
 *	1. Site Styles
 *		1.1. Fonts, Color Palettes & mixin
 *		1.2. General Styles
 *		1.3. Navigations
 *		1.4. Forms
 *		1.5.
 *	2. Page Styles
 *		2.1. Home
 *		2.2.
 *	3. Media Queries
 * ================================================== */
/* 1. Site Styles
 * 		1.1. Fonts, Color Palettes & mixin
 * ================================================== */
/* 1. Site Styles
 * 		1.2. General Styles
 * ================================================== */
/* line 34, ../sass/main.sass */
body {
  background: url("../images/bg-pattern.png") #090a0b;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 40, ../sass/main.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 43, ../sass/main.sass */
p {
  color: white;
}

/* line 45, ../sass/main.sass */
h1 {
  color: white;
}

/* line 48, ../sass/main.sass */
h3 {
  color: #535c65;
}

/* 1. Site Styles
 * 		1.2. Navigation
 * ================================================== */
/* 1. Site Styles
 * 		1.2. Forms
 * ================================================== */
/* 2. Page Styles
 * 		1.1. Home
 * ================================================== */
/* line 66, ../sass/main.sass */
section.homeTop {
  height: 450px;
  text-align: center;
  position: relative;
}
/* line 71, ../sass/main.sass */
section.homeTop .row {
  position: relative;
  top: 20%;
}
/* line 74, ../sass/main.sass */
section.homeTop .row .logo {
  margin-top: 50px;
}
/* line 77, ../sass/main.sass */
section.homeTop .row h1 {
  color: white;
}
/* line 79, ../sass/main.sass */
section.homeTop .row h1 span {
  color: #bd0000;
}
/* line 83, ../sass/main.sass */
section.homeTop .row .actionBtn {
  margin-top: 20px;
  padding-top: 20px;
  height: 40px;
}
/* line 89, ../sass/main.sass */
section.homeTop .row .actionBtn a.btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0 10px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 97, ../sass/main.sass */
section.homeTop .row .actionBtn a.btnWhite:hover {
  background: #256aa9;
}
/* line 105, ../sass/main.sass */
section.homeMain .homeMainLeft h2 {
  background: #090a0b;
  color: whie;
}

/* line 109, ../sass/main.sass */
header.topNav {
  border-top: 10px solid red;
}
/* line 112, ../sass/main.sass */
header .row {
  margin-top: 10px;
}
