@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*	Table of Content
 * ==================================================
 *	1. Site Styles
 *		1.1. Fonts, Color Palettes & mixin
 *		1.2. General Styles
 *		1.3. Navigation, Header & Footer
 *		1.4. Forms
 *		1.5.
 *	2. Page Styles
 *		2.1. Home
 *		2.2.
 *	3. Media Queries
 * ================================================== */
/* 1. Site Styles
 * 		1.1. Fonts, Color Palettes & mixin
 * ================================================== */
/* 1. Site Styles
 * 		1.2. General Styles
 * ================================================== */
/* line 44, ../sass/main.sass */
body {
  background: url("../images/bg-pattern-black.png") #090a0b;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 50, ../sass/main.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 54, ../sass/main.sass */
p {
  color: white;
  font-weight: 300;
  font-size: 0.875em;
}

/* 1. Site Styles
 * 		1.2. Navigation, Header & Footer
 * ================================================== */
/* line 63, ../sass/main.sass */
header.topNav {
  border-top: 10px solid red;
  padding: 5px 0 0 0;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
/* line 68, ../sass/main.sass */
header.topNav[data-magellan-expedition] {
  background: url("../images/bg-pattern-black.png") #090a0b;
}
/* line 70, ../sass/main.sass */
header.topNav .diamond {
  position: relative;
  top: 30px;
}
/* line 73, ../sass/main.sass */
header.topNav nav {
  padding-top: 10px;
}
/* line 75, ../sass/main.sass */
header.topNav nav a {
  color: white;
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}
/* line 78, ../sass/main.sass */
header.topNav nav a:hover {
  color: #256aa9;
}

/* line 81, ../sass/main.sass */
footer {
  margin-top: -25px;
}
/* line 83, ../sass/main.sass */
footer .footerContainer {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
/* line 86, ../sass/main.sass */
footer .footerContainer nav ul li {
  border-right: 1px solid white;
}
/* line 88, ../sass/main.sass */
footer .footerContainer nav ul li:last-child {
  border-right: 0;
}
/* line 90, ../sass/main.sass */
footer .footerContainer nav ul li a {
  color: white;
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  padding-right: 20px;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 99, ../sass/main.sass */
footer .footerContainer nav ul li a:hover {
  color: #256aa9;
}
/* line 101, ../sass/main.sass */
footer .footerContainer .socialIcons a {
  color: white;
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}
/* line 104, ../sass/main.sass */
footer .footerContainer .socialIcons a:hover {
  color: #256aa9;
}

/* 1. Site Styles
 * 		1.2. Forms
 * ================================================== */
/* 2. Page Styles
 * 		1.1. Home
 * ================================================== */
/* line 119, ../sass/main.sass */
section .anchorOffset {
  position: absolute;
  top: -145px;
}
/* line 122, ../sass/main.sass */
section.homeTop {
  height: 450px;
  text-align: center;
  position: relative;
}
/* line 127, ../sass/main.sass */
section.homeTop .row {
  position: relative;
  top: 10%;
}
/* line 130, ../sass/main.sass */
section.homeTop .row .logo {
  margin-top: 50px;
}
/* line 133, ../sass/main.sass */
section.homeTop .row h1 {
  color: white;
}
/* line 135, ../sass/main.sass */
section.homeTop .row h1 span {
  color: #bd0000;
}
/* line 137, ../sass/main.sass */
section.homeTop .row h3 {
  color: #535c65;
}
/* line 139, ../sass/main.sass */
section.homeTop .row .actionBtn {
  margin-top: 20px;
  padding-top: 20px;
  height: 40px;
}
/* line 145, ../sass/main.sass */
section.homeTop .row .actionBtn a.btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0 10px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #090a0b;
  transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
}
/* line 155, ../sass/main.sass */
section.homeTop .row .actionBtn a.btnWhite:hover {
  background: #256aa9;
}

/* line 158, ../sass/main.sass */
section.homeMain {
  background-image: url("../images/slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background--webkit-background-size: cover;
  background--moz-background-size: cover;
  background-background-size: cover;
  min-height: 526px;
  min-width: 1300px;
}
/* line 170, ../sass/main.sass */
section.homeMain .row a {
  color: white;
}
/* line 173, ../sass/main.sass */
section.homeMain .row .homeMainRight h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #bd0000;
  border-top: 2px solid #bd0000;
  border-right: 2px solid #bd0000;
  border-bottom: 2px solid #bd0000;
}
/* line 185, ../sass/main.sass */
section.homeMain .row .homeMainRight h2 span {
  color: #bd0000;
}
/* line 187, ../sass/main.sass */
section.homeMain .row .homeMainRight h2.first-child {
  margin-top: 20px;
}
/* line 189, ../sass/main.sass */
section.homeMain .row .homeMainRight p {
  margin-left: 30px;
}
/* line 193, ../sass/main.sass */
section.homeMain .row .homeMainLeft h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #256aa9;
  border-top: 2px solid #256aa9;
  border-right: 2px solid #256aa9;
  border-bottom: 2px solid #256aa9;
}
/* line 205, ../sass/main.sass */
section.homeMain .row .homeMainLeft h2 span {
  color: #256aa9;
}
/* line 207, ../sass/main.sass */
section.homeMain .row .homeMainLeft h2.first-child {
  margin-top: 20px;
}
/* line 209, ../sass/main.sass */
section.homeMain .row .homeMainLeft p {
  margin-left: 30px;
}
/* line 212, ../sass/main.sass */
section.homeMain .row .homeMainCenter {
  position: relative;
}
/* line 214, ../sass/main.sass */
section.homeMain .row .homeMainCenter .circle {
  position: absolute;
  top: 180px;
  left: 0px;
  cursor: pointer;
}
/* line 219, ../sass/main.sass */
section.homeMain .row .homeMainCenter .diamond {
  position: absolute;
  bottom: 30px;
}

/* line 223, ../sass/main.sass */
section.homeSignup {
  background-image: url("../images/signup-slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background--webkit-background-size: cover;
  background--moz-background-size: cover;
  background-background-size: cover;
  min-height: 526px;
  min-width: 1000px;
}
/* line 235, ../sass/main.sass */
section.homeSignup .homeSignupLeft h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #bd0000;
  border-top: 2px solid #bd0000;
  border-right: 2px solid #bd0000;
  border-bottom: 2px solid #bd0000;
}
/* line 247, ../sass/main.sass */
section.homeSignup .homeSignupLeft h2 span {
  color: #bd0000;
}
/* line 249, ../sass/main.sass */
section.homeSignup .homeSignupLeft h2.first-child {
  margin-top: 20px;
}
/* line 251, ../sass/main.sass */
section.homeSignup .homeSignupLeft p {
  margin-left: 30px;
}
/* line 254, ../sass/main.sass */
section.homeSignup .homeSignupCenter {
  position: relative;
}
/* line 256, ../sass/main.sass */
section.homeSignup .homeSignupCenter .circle {
  position: absolute;
  top: 180px;
  left: 0px;
  cursor: pointer;
}
/* line 261, ../sass/main.sass */
section.homeSignup .homeSignupCenter .diamond {
  position: absolute;
  bottom: 30px;
}
/* line 265, ../sass/main.sass */
section.homeSignup .homeSignupRight h2 {
  color: white;
  font-size: 28px;
  padding: 10px 0px;
  display: inline-block;
}
/* line 271, ../sass/main.sass */
section.homeSignup .homeSignupRight .btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #090a0b;
}
/* line 280, ../sass/main.sass */
section.homeSignup .homeSignupRight .btnWhite:hover {
  background: #256aa9;
}
/* line 282, ../sass/main.sass */
section.homeSignup .homeSignupRight .actionBtn a {
  color: white;
  padding: 15px 0px;
  line-height: 40px;
}
/* line 286, ../sass/main.sass */
section.homeSignup .homeSignupRight .actionBtn a:hover {
  text-decoration: underline;
}

/* line 289, ../sass/main.sass */
section.homeSignin {
  background-image: url("../images/signin-slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background--webkit-background-size: cover;
  background--moz-background-size: cover;
  background-background-size: cover;
  min-height: 526px;
  min-width: 1000px;
}
/* line 301, ../sass/main.sass */
section.homeSignin .homeSigninLeft h2 {
  color: white;
  font-size: 28px;
  padding: 10px 0px;
  display: inline-block;
}
/* line 307, ../sass/main.sass */
section.homeSignin .homeSigninLeft .btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0px;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #090a0b;
}
/* line 316, ../sass/main.sass */
section.homeSignin .homeSigninLeft .btnWhite:hover {
  background: #256aa9;
}
/* line 318, ../sass/main.sass */
section.homeSignin .homeSigninLeft .actionBtn a {
  color: white;
  padding: 15px 0px;
  line-height: 40px;
}
/* line 322, ../sass/main.sass */
section.homeSignin .homeSigninLeft .actionBtn a:hover {
  text-decoration: underline;
}
/* line 324, ../sass/main.sass */
section.homeSignin .homeSigninCenter {
  position: relative;
}
/* line 326, ../sass/main.sass */
section.homeSignin .homeSigninCenter .circle {
  position: absolute;
  top: 180px;
  left: 0px;
  cursor: pointer;
}
/* line 331, ../sass/main.sass */
section.homeSignin .homeSigninCenter .diamond {
  position: absolute;
  bottom: 30px;
}
/* line 335, ../sass/main.sass */
section.homeSignin .homeSigninRight h2 {
  background: #090a0b;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  border-left: 6px solid #256aa9;
  border-top: 2px solid #256aa9;
  border-right: 2px solid #256aa9;
  border-bottom: 2px solid #256aa9;
}
/* line 347, ../sass/main.sass */
section.homeSignin .homeSigninRight h2 span {
  color: #256aa9;
}
/* line 349, ../sass/main.sass */
section.homeSignin .homeSigninRight h2.first-child {
  margin-top: 20px;
}
/* line 351, ../sass/main.sass */
section.homeSignin .homeSigninRight p {
  margin-left: 30px;
}

/* line 355, ../sass/main.sass */
section.diamondLine {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}
/* line 357, ../sass/main.sass */
section.diamondLine .diamond {
  margin-top: -25px;
}

/* line 361, ../sass/main.sass */
section.homeWidget {
  background-color: silver;
  background-image: url("../images/bg-main.jpg");
  background-repeat: repeat;
  padding: 30px 0px;
}
/* line 367, ../sass/main.sass */
section.homeWidget .row {
  border-top: 1px solid #2d3037;
  border-bottom: 1px solid #2d3037;
}
/* line 371, ../sass/main.sass */
section.homeWidget .row .large-8 {
  border-left: 1px solid #2d3037;
}
/* line 373, ../sass/main.sass */
section.homeWidget .row .latestNews h4 {
  text-align: center;
}
/* line 375, ../sass/main.sass */
section.homeWidget .row h4 {
  color: white;
  margin-top: 10px;
}
/* line 378, ../sass/main.sass */
section.homeWidget .row small {
  color: white;
}

/* line 381, ../sass/main.sass */
section.homeAbout {
  background-color: black;
  min-height: 300px;
  padding-top: 20px;
}
/* line 386, ../sass/main.sass */
section.homeAbout h2 {
  color: white;
}
/* line 388, ../sass/main.sass */
section.homeAbout h2 span {
  color: #bd0000;
}

/* 2. Page Styles
 * 		1.2. Dashboard
 * ================================================== */
/* line 396, ../sass/main.sass */
section.mainContent {
  background: url("../images/bg-main.jpg");
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 402, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox {
  overflow: hidden;
  background: #24282c;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
/* line 408, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox .userPhoto {
  text-align: center;
}
/* line 410, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox .userPhoto .cropBox {
  width: 303px;
  height: 303px;
}
/* line 413, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox .userPhoto .cropBox img {
  background: white;
  width: 303px;
  height: auto;
  border-bottom: 10px solid #256aa9;
}
/* line 418, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox .userPhoto h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
}
/* line 427, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox .userPhoto h4 {
  color: #256aa9;
  font-size: 1.125em;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 434, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox ul {
  list-style: none;
  margin-bottom: 0;
}
/* line 437, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox ul li {
  border-top: 1px solid rgba(192, 192, 192, 0.1);
}
/* line 439, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox ul li a {
  display: block;
  padding: 15px 20px;
  border-left: 5px solid #24282c;
}
/* line 443, ../sass/main.sass */
section.mainContent .sidebar .sidebarBox ul li a:hover {
  border-left: 5px solid #256aa9;
  background: #090a0b;
  background: -moz-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4, 5, 5, 0.3)), color-stop(15%, rgba(36, 40, 44, 0.2)), color-stop(85%, rgba(36, 40, 44, 0.2)), color-stop(100%, rgba(4, 5, 5, 0.3)));
  background: -webkit-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: -ms-linear-gradient(top, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(4, 5, 5, 0.3) 0%, rgba(36, 40, 44, 0.2) 15%, rgba(36, 40, 44, 0.2) 85%, rgba(4, 5, 5, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparentize($black / 2, 0.7)', endColorstr='transparentize($black / 2, 0.7)',GradientType=0 );
}
/* line 454, ../sass/main.sass */
section.mainContent .sidebar .sidebarWidget {
  border-bottom: 1px solid rgba(192, 192, 192, 0.1);
}
/* line 457, ../sass/main.sass */
section.mainContent .mainContainer section {
  background: #24282c;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
}

/*  registration
 * ================================================== */
/* line 466, ../sass/main.sass */
section.registrationMain legend {
  font-size: 1.5em;
  background-color: transparent;
  color: white;
}
/* line 470, ../sass/main.sass */
section.registrationMain select {
  border: 1px solid #cccccc;
  height: 2em;
}
/* line 473, ../sass/main.sass */
section.registrationMain .row {
  margin-bottom: 10px;
}
/* line 475, ../sass/main.sass */
section.registrationMain .btnWhite {
  border: 1px solid white;
  color: white;
  margin: 0px;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #090a0b;
}
/* line 484, ../sass/main.sass */
section.registrationMain .btnWhite:hover {
  background: #256aa9;
}
